section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
} 

.canva {
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 25%;

}