p:first-child {
    color: aquamarine;
}

p:last-child {
    color: blueviolet;
} 

p:not(.padrão) {
    color: yellow;
}

li:nth-child(n+2):nth-child(-n+5) {
    color: red;
}

li:last-child(1) {
    color: red;
}

p:only-child {
    color: red;
}